.body {
  background-color: tan;
  font-family: Lato;
}
body {
  background-color: rgb(233, 232, 232);
}

h1,
h2,
h3 {
  color: #002b5a;
  margin-bottom: 42px;
}

h1 {
  font-size: 42px;
  font-weight: 200;
}

h2 {
  font-size: 40px;
  font-weight: 200;
}

h3 {
  font-size: 17px;
  font-weight: normal;
}

h5 {
  color: #002b5a;
  font-weight: normal;
}

h6 {
  font-weight: normal;
  font-size: 15px;
}

p {
  color: #333;
  font-size: 18px;
}

.card-text {
  font-size: 12px;
}

#stateFinder {
  font-size: 20px;
  margin-bottom: 20px;
}

#loremText {
  color: #002b5a;
  margin-bottom: 5px;
  font-size: 12px;
}

#stateList {
  color: #002b5a;
  font-size: 13px;
}

.btn1 {
  background-color: #002b5a;
  color: #ffffff;
  font-size: 14px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 2px #fff inset;
}

.btn2 {
  background-color: #ffffff;
  color: #002b5a;
  font-size: 14px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 2px #fff inset;
}

#card-body {
  background-color: rgb(247, 247, 247);
}

#card-title {
  color: #002b5a;
  font-size: 24px;
}

#price {
  color: #4987ca;
  font-size: 19px;
}

#container-fluid {
  background-color: rgb(247, 247, 247);
}
