.body {
  background-image: tan;
  font-family: Lato;
}

.H1,
h2,
h3 {
  color: #002b5a;
  margin-bottom: 42px;
  font-style: capitalize;
}

.h1 {
  font-size: 42px;
  font-weight: 200;
}

.h2 {
  font-size: 40px;
  font-weight: 200;
}
